<body>
  <div class="container">

  <br>
  <br>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("brian.jpg", :alt => "rss feed", :class => "img-circle", :width => 140, :height => 140) %>
        <h2>Hi!</h2>
        <div class="container">
  <h2>Experience</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Dates</th>
        <th>Company</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>June 2016 to Present</td>
        <td>State Teachers Retirement System of Ohio</td>
        <td>Programmer / Analyst 1</td>
      </tr>
      <tr>
        <td>August 2015 to June 2016</td>
        <td>State Teachers Retirement System of Ohio</td>
        <td>ITS Student: Application Development</td>
      </tr>
      <tr>
        <td>June 2014 to August 2015</td>
        <td>Ohio State University Comprehensive Cancer Center</td>
        <td>IT Student</td>
      </tr>
      <tr>
        <td>June 2007 to September 2011</td>
        <td>United States Army</td>
        <td>Infantryman</td>
      </tr>
    </tbody>
  </table>
</div>

      
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Education <span class="text-muted">The Ohio State University</span></h2>
        <p class="lead">Bachelor's of Science in Computer Science Engineering</p>
        <p>August 2012 - May 2016</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("osuLogo.png", :alt => "OSU", :class => "img-responsive", :width => 120, :height => 120) %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Interests<span class="text-muted"></span></h2>
        <p class="lead">Programming, Security, Home Automation, Ancient History</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <%= image_tag("antikytheraMechanism.png", :alt => "antikytheraMechanism", :class => "img-responsive", :width => 180, :height => 140) %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">GitHub <span class="text-muted"></span></h2>
        <p class="lead">https://github.com/brianjp07</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("octocat.jpg", :alt => "rss feed", :class => "img-circle", :width => 180, :height => 140) %>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2072 B. Irons, LLC. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div><!-- /.container -->

  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
